body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.8), rgba(10, 10, 35, 0.8), rgba(0, 31, 63, 0.8), rgba(0, 0, 0, 0.8)); /* Fondo con opacidad */
  background-size: 400% 400%;
  animation: animarFondo 10s ease infinite;
  height: 100vh;
  margin: 0;
}

@keyframes animarFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.menu ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    text-align: right; 
  }

  .menu li {
    display: inline; 
    margin-right: 20px; 
  }
  
  .menu a {
    text-decoration: none; 
    color: white;
    font-size: 25px; 
  }

  .imagenPerfil {
    text-align: center;
  }
  
  .imagenPerfil img {
    padding: 0;
    background: transparent;
    filter: drop-shadow(0 0 10px #4fc3f7);
    transition: 0.5s;
    margin-top: 40px;
  }  

  .imagenPerfil p{
    background: transparent;
    border: none;
    padding: 0;
    color: #f5f5f5;
    font-size: 25px;
  }

#acerca-de-mi {
  max-width: 800px;
  margin: 4rem auto;
  padding: 0 2rem;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #f5f5f5;
}

#acerca-de-mi p {
  background: transparent;
  border: none;
  padding: 0;
}

#acerca-de-mi h2 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
  margin-top: 14rem;
}

#contacto {
  text-align: center;
}

#contacto h3 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

#contacto h6 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

#contacto form {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: auto;
}

#contacto label {
  width: 300px;
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  color: white;
}

#contacto button  {
  text-align: center;
  font-size: 20px;
  width: 300px;
  margin-top: 15px;
}

.imgLinkedIn, .imgGitHub, .imgEmail{
  filter: invert(1);
  width: 100px;
  padding-left: 20px;
}

.imgLinkedIn:hover, .imgGitHub:hover, .imgEmail:hover {
  transform: scale(1.2);
}


#proyectos {
  padding: 2rem;
}

#proyectos h4 {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
  font-size: 2.2rem;
}

.proyectos-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.proyecto-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
}

.video {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proyecto-info {
  padding: 1rem;
  text-align: center;
}

.proyecto-info h5 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.proyecto-info p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.proyecto-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-github, .btn-youtube {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s;
}

.btn-github {
  background-color: #333;
}

.btn-github:hover {
  background-color: #555;
}

.btn-youtube {
  background-color: #ff0000;
}

.btn-youtube:hover {
  background-color: #cc0000;
}


#conocimientos {
  max-width: 800px;
  margin: 4rem auto;
  padding: 0 2rem;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #f5f5f5;
}

#conocimientos h5{
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

#conocimientos p {
  background: transparent;
  border: none;
  padding: 0;
}

#conocimientos img {
  width: 100px;
  border-radius: 50%;
}